:root {
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .7, 0, 1);
}

.PhotoGalerie-.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.PhotoGalerie-items {
    display: flex;
    gap: 0.4rem;
    perspective: calc(var(--index) * 35);
}

.PhotoGalerie-item {
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 12);
    background-color: #222;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale(1) brightness(.5);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    will-change: transform, filter, rotateY, width;
}

.PhotoGalerie-item-1 {
    background-image: url('../../assets/img/galerie/PhotoGaleire/team-1.png');
}

.PhotoGalerie-item-2 {
    background-image: url('../../assets/img/galerie/PhotoGaleire/team-2.png');
}

.PhotoGalerie-item-3 {
    background-image: url('../../assets/img/galerie/PhotoGaleire/team-3.png');
}

.PhotoGalerie-item-4 {
    background-image: url('../../assets/img/galerie/PhotoGaleire/team-4.png');
}

.PhotoGalerie-item-5 {
    background-image: url('../../assets/img/galerie/PhotoGaleire/team-5.png');
}

.PhotoGalerie-item-6 {
    background-image: url('../../assets/img/galerie/PhotoGaleire/team-6.png');
}

.PhotoGalerie-item-7 {
    background-image: url('../../assets/img/galerie/PhotoGaleire/team-7.png');
}

.PhotoGalerie-item-8 {
    background-image: url('../../assets/img/galerie/PhotoGaleire/team-8.png');
}

.PhotoGalerie-item-9 {
    background-image: url('../../assets/img/galerie/PhotoGaleire/team-9.png');
}



.PhotoGalerie-item::before,
.PhotoGalerie-item::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc(var(--index) * -1);
}

.PhotoGalerie-item::after {
    left: calc(var(--index) * -1);
}

.PhotoGalerie-items .PhotoGalerie-item:hover {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.PhotoGalerie-items .PhotoGalerie-item:hover+* {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
}

.PhotoGalerie-items .PhotoGalerie-item:hover+*+* {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: -2;
}

.PhotoGalerie-items .PhotoGalerie-item:hover+*+*+* {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
    z-index: -3;
}

.PhotoGalerie-items .PhotoGalerie-item:hover+*+*+*+* {
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
    z-index: -4;
}


/*Left*/

.PhotoGalerie-items .PhotoGalerie-item:has(+ :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.PhotoGalerie-items .PhotoGalerie-item:has(+ * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.PhotoGalerie-items .PhotoGalerie-item:has(+ * + * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.PhotoGalerie-items .PhotoGalerie-item:has(+ * + * + * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.PhotoGalerie-items .PhotoGalerie-item:active,
.PhotoGalerie-items .PhotoGalerie-item:focus {
    width: 28vw;
    filter: inherit;
    z-index: 100;
    transform: translateZ(calc(var(--index) * 10));
    background-size: contain;
background-repeat: no-repeat;
    margin: 0 .45vw;
}